extends layout
block content
    #banner.page-header
        .row
            .col-lg-6
                h1
                    | Mekanbul 
                    small &nbsp; Civardaki Mekanları Keşfet
    .row
        .row-list-group
        .col-xs-12.col-sm-12 
            .col-xs-12.list-group-item
                h4
                    a(href='/mekan') Starbucks
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                span.badge.pull-right.badge-default 3km
                p.address Centrum Garden AVM 
                p 
                    span.label.label-warning Kahveler
                    | &nbsp;
                    span.label.label-warning Kurabiyeler
                    | &nbsp;
                    span.label.label-warning Pastalar
                    | &nbsp;
    | &nbsp;
    .row
        .row-list-group
        .col-xs-12.col-sm-12 
            .col-xs-12.list-group-item
                h4
                    a(href='/mekan') D'or Cafe
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                    span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 4km
                p.address İyaşpark AVM Yanı
                p 
                    span.label.label-warning Dünya Kahveleri
                    | &nbsp;
                    span.label.label-warning Kekler 
                    | &nbsp;
                    span.label.label-warning Pastalar  
                    | &nbsp;
    | &nbsp;
    .row
        .row-list-group
        .col-xs-12.col-sm-12 
            .col-xs-12.list-group-item
                h4
                    a(href='/mekan') Trigo Kafe
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                    span.glyphicon.glyphicon-star-empty
                    span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 0km
                p.address Modern Market Yanı 
                p 
                    span.label.label-warning Dünya Kahveleri
                    | &nbsp;
                    span.label.label-warning Dünya Mutfağı
                    | &nbsp;
                    span.label.label-warning İçecekler  
                    | &nbsp;
    
                    